<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" 
         type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Entity.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <Entity.My.MySettings>
            <setting name="p1show" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="p2show" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="advshow" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="reqUpgrade" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="lbdChannelInterval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="lbdStartIdx" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="favSettingsView" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="secondaryScr" serializeAs="String">
                <value />
            </setting>
            <setting name="secondaryScrWH" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="secondaryScrRez" serializeAs="String">
                <value>1280, 1024</value>
            </setting>
            <setting name="favouriteTransition" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="lightVisualReverse" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="globResViewSplitter" serializeAs="String">
                <value>0.85</value>
            </setting>
            <setting name="userPassword" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="crecWait" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="waitTime" serializeAs="String">
                <value />
            </setting>
            <setting name="userSalt1" serializeAs="String">
                <value />
            </setting>
            <setting name="userSalt2" serializeAs="String">
                <value />
            </setting>
            <setting name="favColor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="favAlign" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="favBGColor1" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="favBGMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="favBGGradMode" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="autoUpdateCheck" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="timeFormat12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="favDelayTime" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="favFadeDur" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="favCueTab" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="initialSetup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="favPjDur" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="favPjDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="favBGColor2" serializeAs="String">
                <value />
            </setting>
            <setting name="workDir" serializeAs="String">
                <value />
            </setting>
        </Entity.My.MySettings>
    </userSettings>
</configuration>
